{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block title %} Login into your account {% endblock title %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="" styl="border: 2px solid black;">
  <div class="" styl="border: 2px solid blue">


  {% if socialaccount_providers %}
  <div class="">

    <h2 class="" styl="border: 1px dotted green;">
      Welcome, please sign in to your  {% blocktrans with site.name as site_name %} {{ site_name }} account.
     {% endblocktrans %}</h2>
  </div>


    <div class="socialaccoun_ballot" styl="border: 2px dashed red;">

      <ul class="socialaccoun_provider row">
        <li class="" styl="border: 2px dotted gray;">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</li>
      </ul>

      <div class="" styl="border: 1px solid orange;">
        <p class="">{% trans 'or' %}</div></p>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    <p class="">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
  {% endif %}



  {% if next %}
    <p class="">Please login to see this page.</p>
  {% endif %}


  <div class="" styl="border: 1px solid red;">
    <form method="POST" novalidate styl="border: 3px solid yellow;">
      {% csrf_token %}

      {% if form.errors %}
        <p class=""> Your email and/or password didn't match.</p>
        <p class="">Note that both fields may be case-sensitive.</p>
      {% endif %}

      <div class="">
        {{ form.login.label_tag }}
        <input type="email" class="" id="id_login" name="login">

        <div style="color: red;">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </div>
      </div>

      <div class="">
        {{ form.password.label_tag }}
        <input type="password" class="" id="id_password" name="password">

        <div style="color: red;">
          {% for error in form.password.errors %}
          {{ error }}
          {% endfor %}
        </div>
      </div>

      <div class="forgot-password mt-3">
        <p><a href="{% url 'account_reset_password' %}">Forgot my password</a></p>
      </div>


      <div class="">
        <button class="">Login</button>
      </div>
    </form>

    
  </div>
</div>
</div>

{% endblock content %}