{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block title %} Login into your account {% endblock title %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="p-4">
  <h1 class="ms-2">Login</h1>


  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
  </p>
  {% endif %}



  {% if next %}
  <p class="ms-2 mt-4">Please login to see this page.</p>
  {% endif %}


  <div class="form-group form-label">
    <form method="POST" novalidate>
      {% csrf_token %}

      {% if form.errors %}
      <p class="mb-1"> Your email and/or password didn't match.</p>
      <p class="mt-1">Note that both fields may be case-sensitive.</p>
      {% endif %}

      <div class="form-lab">
        {{ form.login.label_tag }}
        {{ form.login }}

        <div style="color: red;">
          {% for error in form.username.errors %}
          {{ error }}
          {% endfor %}
        </div>
      </div>

      <div class="form-label">
        {{ form.password.label_tag }}
        {{ form.password }}

        <div style="color: red;">
          {% for error in form.password.errors %}
          {{ error }}
          {% endfor %}
        </div>
      </div>


      <div class="mt-3">
        <button class="btn btn-secondary">Login</button>
      </div>
    </form>

    <div class="forgot-password mt-3">
      <p><a href="{% url 'account_reset_password' %}">Forgot my password</a></p>
    </div>
  </div>
</div>

{% endblock content %}