{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block title %} Login into your account {% endblock title %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="p-2 mt-5 container" styl="border: 2px solid black;">
  <div class="container d-flex align-items-center jstify-content-center flex-column" styl="border: 2px solid blue">


  {% if socialaccount_providers %}
  <div class="row">

    <h2 class="col-md-8 offset-md-2 text-center" styl="border: 1px dotted green;">
      Welcome, please sign in to your  {% blocktrans with site.name as site_name %} {{ site_name }} account.
     {% endblocktrans %}</h2>
  </div>


    <div class="socialaccoun_ballot container text-center" styl="border: 2px dashed red;">

      <ul class="socialaccoun_provider row">
        <li class="col" styl="border: 2px dotted gray;">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</li>
      </ul>

      <div class="mb-3 text-uppercase" styl="border: 1px solid orange;">
        <p class="text-center ms-4">{% trans 'or' %}</div></p>

    </div>
    <!-- <div class=" container text-center" style="border: 2px dashed red;">

      <div class="row">
      <div class="col">ppppppppppp</div>
      <div class="col">ppppppppppp</div>
      <div class="col">ppppppppppp</div>
    </div>
    </div> -->

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    <p class="">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
  {% endif %}



  {% if next %}
    <p class="ms-2 mt-4">Please login to see this page.</p>
  {% endif %}


  <div class="form-group form-label" styl="border: 1px solid red;">
    <form method="POST" novalidate styl="border: 3px solid yellow;">
      {% csrf_token %}

      {% if form.errors %}
        <p class="mb-1"> Your email and/or password didn't match.</p>
        <p class="mt-1">Note that both fields may be case-sensitive.</p>
      {% endif %}

      <div class="form-labe">
        {{ form.login.label_tag }}
        {{ form.login }}

        <div style="color: red;">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </div>
      </div>

      <div class="form-label">
        {{ form.password.label_tag }}
        {{ form.password }}

        <div style="color: red;">
          {% for error in form.password.errors %}
          {{ error }}
          {% endfor %}
        </div>
      </div>


      <div class="mt-3">
        <button class="btn btn-secondary">Login</button>
      </div>
    </form>

    <div class="forgot-password mt-3">
      <p><a href="{% url 'account_reset_password' %}">Forgot my password</a></p>
    </div>
  </div>
</div>
</div>

{% endblock content %}