{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block title %} Crreate an account {% endblock title %}

{% block content %}

<div class="px-12" tyle="border: 3px solid red;">
    <div class="container-sm mt-12 mx-auto" tyle="border: 2px solid blue">
        <h1 class="text-center text-2xl font-medium">Sign Up</h1>

        <div class="mt-4 flex justify-center items-center flex-col" tyle="border: 3.5px dashed orange;">
            <form 
                method="POST" 
                novalidate 
                class=" w-2/4 flex justify-center items-center flex-col mt-4"
                tyle="border: 3px solid yellow;"
            >
                {% csrf_token %}

                <div class="space-y-3 w2/4 w-3/5">
                    <div class="first-last-name flex space-x-5" tyle="border: 1px solid blue;">
                        <div class="" tyle="border: 2px dashed blue;">
                            <label class="block mb-1" for="id_first_name">First name</label>
                            <input 
                                type="text" 
                                class="rounded-md w-full bg-gray-50 focus:bg-white border-gray-300"
                                name="first_name" 
                                class="form-control" 
                                maxlength="150" 
                                required
                                id="id_first_name"
                            >

                            {% for error in form.first_name.errors %}
                            <div class="text-sm text-red-600">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>


                        <div class="" tyle="border: 2px dashed blue;">
                            <label class="block mb-1" for="id_last_name">Last name</label>
                            <input 
                                type="text"  
                                class="rounded-md w-full bg-gray-50 focus:bg-white border-gray-300" 
                                name="last_name" 
                                maxlength="150" 
                                required 
                                id="id_last_name"
                            >

                            {% for error in form.last_name.errors %}
                            <div class="text-sm text-red-600">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="" tyle="border: 2px dashed blue;">
                        <label class="block mb-1" for="id_email">Email</label>
                        <input 
                            type="email" 
                            class="rounded-md w-full bg-gray-50 focus:bg-white border-gray-300"
                            name="email" 
                            maxlength="254" 
                            autofocus required 
                            id="id_email"
                        >

                        {% for error in form.email.errors %}
                        <div class="text-sm text-red-600">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="" tyle="border: 2px dashed blue;">
                        <label class="block mb-1" for="id_password1">Password</label>
                        <input 
                            class="rounded-md w-full bg-gray-50 focus:bg-white border-gray-300"
                            type="password" 
                            name="password1" 
                            required 
                            id="id_password1"
                        >

                        {% for error in form.password1.errors %}
                        <div class="text-sm text-red-600">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}


                <button 
                    type="submit" 
                    class="bg-primary-color text-white px-4 py-3 w-3/5 
                    rounded-lg mt-4 ease-in-out delay-150 hover:bg-button-hover duration-700"
                >
                    Sign up
                </button>
            </form>
        </div>
 
        
    <div class="text-center mt-10" styl="border: 2px dashed red;">

        <p class="mb-7 text-xl"><span class="capitalize"> {% trans 'or' %}</span> sign up with</p>

        <a 
        class="border-2 border-gray-200 rounded-md px-4 py-2 
        hover:bgprimary-color2 hove:text-white transition ease-in-out 
        delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-primary-color2
       hover:border-primary-color2 hover:text-white hoverp-4 duration-1000" 
          styl="border: 2px solid blue;" 
          href="{% provider_login_url  "google"  process="connect" %}"
        > 
          <!-- <img class="inline w-6" src="https://img.icons8.com/color/48/null/google-logo.png" /> -->
          <img
            class="w-7 inline bg-white" 
            src="{% static '/the_blog/media/icons/icons8-google.svg' %}" 
            alt="google"  
          >
          Google
        </a>

  </div>

        {% include "socialaccount/snippets/login_extra.html" %}
    </div>
</div>

{% endblock content %}