{% extends 'base.html' %}


{% block title %} {{ post.title }} {% endblock title %}
{% block content %}


<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <div class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white"> {{ post.author.first_name.title }} {{ post.author.last_name.title }}</a>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">Graphic Designer, educator & CEO Flowbite</p>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate datetime="{{ post.date_created }}" title= "{{ post.date_created }}">{{ post.date_created }}</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"> {{ post.title.title }} </h1>
            </div>

            {% if user.id == post.author.id %}
            <div class="">
                <a href="{% url 'edit_post' post.slug %}">
                    <button type="button" class="">
                        Edit
                    </button>
                </a>
    
                <a class=""
                    href="{% url 'delete_post' post.slug %}" id="delete-post">
                    Delete
                </a>
            </div>
            {% endif %}

        <div class="" id="delete-post-modal">
            <div class="">
                <div class="" style=" margin-right: 2em; max-width: 100%;">
                    <form method="POST" class="" id="delete-post-form">
                        {% csrf_token %}

                        <p>
                            <strong class="">Are you sure you want to delete '{{ post.title }}'?</strong>
                        </p>

                        <div class="">
                            <button type="submit" class="">
                                <!-- <a class="ms-3" href="{% url 'delete_post' post.slug %}"> -->
                                Confirm
                                <!-- </a> -->
                            </button>

                            <button type="button" class="">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
          <!-- {{ post.formatted_markdown|safe }} -->
            {{ post.body | safe}}
        </article>
    </div>

  <!-- =======================Add Comments============= -->

  <section class="bg-white dark:bg-gray-900 py-8 lg:py-16">
    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
            Discussion ({{ comments.count }})
          </h2>
      </div>
        
      <form  method="POST" class="mb-6">
        {% csrf_token %}
        <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            <!-- <label for="comment" class="sr-only">Your comment</label> -->
            <textarea             
                name="comment_body"
                id="id_comment_body" 
                rows="6"
                class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none
                 dark:text-white"
                placeholder="Write a comment..." 
                required
            ></textarea>
           
        </div>
        <button 
            type="submit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium
            text-center text-white bg-primary-color rounded-lg focus:ring-4 
            focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
            Post comment
        </button>
    </form>
    <!-- ================================================================= -->

      {% for comment in comments.all %}
      <article class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
          <footer class="flex justify-between items-center mb-2">
              <div class="flex items-center">
                    <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img
                          class="mr-2 w-6 h-6 rounded-full"
                          src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                          alt="Michael Gough"
                        >
                          {{ comment.commentator.first_name }} {{ comment.commentator.last_name }}
                    </p>
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                        <time pubdate datetime="2022-02-08"title="February 8th, 2022">
                            {{ comment.timestamp }}
                        </time>
                    </p>
              </div>
              <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                  class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg
                   hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
                  type="button">
                  <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                      </path>
                  </svg>
                  <span class="sr-only">Comment settings</span>
              </button>
              <!-- Dropdown menu -->
              <div id="dropdownComment1"
                  class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                      aria-labelledby="dropdownMenuIconHorizontalButton">
                      <li>
                          <a href="#"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                      </li>
                      <li>
                          <a href="#"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                      </li>
                      <li>
                          <a href="#"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                      </li>
                  </ul>
              </div>
            </footer>
            <p class="text-gray-500 dark:text-gray-400">
                {{ comment.formatted_markdown|safe }}
            </p>
          <div class="flex items-center mt-4 space-x-4">
              <button type="button"
                  class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                  <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                  Reply
              </button>
          </div>
      </article>

      <!-- ==============================Comment reply================================ -->
      <article class="p-6 mb-6 ml-6 lg:ml-12 text-base bg-white rounded-lg dark:bg-gray-900">
          <footer class="flex justify-between items-center mb-2">
              <div class="flex items-center">
                  <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"><img
                          class="mr-2 w-6 h-6 rounded-full"
                          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                          alt="Jese Leos">Jese Leos</p>
                  <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-12"
                          title="February 12th, 2022">Feb. 12, 2022</time></p>
              </div>
              <button id="dropdownComment2Button" data-dropdown-toggle="dropdownComment2"
                  class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                  type="button">
                  <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                      </path>
                  </svg>
                  <span class="sr-only">Comment settings</span>
              </button>
              <!-- Dropdown menu -->
              <div id="dropdownComment2"
                  class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                      aria-labelledby="dropdownMenuIconHorizontalButton">
                      <li>
                          <a href="#"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                      </li>
                      <li>
                          <a href="#"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                      </li>
                      <li>
                          <a href="#"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                      </li>
                  </ul>
              </div>
          </footer>
          <p class="text-gray-500 dark:text-gray-400">Much appreciated! Glad you liked it ☺️</p>
          <div class="flex items-center mt-4 space-x-4">
              <button type="button"
                  class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                  <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                  Reply
              </button>
          </div>
      </article>
      <!-- ======================================================== -->
      {% empty %}
      <h3> comments yet. Leave a comment</h3>
      {% endfor %}
    </div>
  </section>
</main>



  
  {% if all_author_post %}
  <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Other articles by {{ post.author.first_name.title }} {{ post.author.last_name.title }}</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">           
            {% for post in all_author_post %}
            {% cycle 'blog-1.png' 'blog-2.png' 'blog-3.png' 'blog-4.png' 'blog-5.png' as photocircle silent %}
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/{{photocircle}}" class="mb-5 rounded-lg" alt="Image 4">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">{{ post.title }}</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">   <!-- {{ post.description }} -->
                    {{ post.body|slice:":150" }}...
                </p>
                <a 
                    href="{% url 'article_detail' post.slug %}" 
                    class="inline-flex items-center font-medium underline underline-offset-4 
                    text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read 
                </a>
            </article>
            {% endfor %} 
        </div>
    </div>
  </aside>
  {% endif %}
  


    <br>
    <button class="" onclick="history.back()">
        Go back
    </button>
</div>

{% endblock content %}