{% extends 'base.html' %}


{% block title %} {{ post.title }} {% endblock title %}
{% block content %}


<section class="p-3 pt-1  mx-auto" ;>

    <article class=" post-detail mt-3 ">

        <h1 class="post-title font-monospac">{{ post.title.upper }}</h1>
        <h5 class="mb-4">

        </h5>
        <small>
            By: {{ post.author.first_name.title }} {{ post.author.last_name.title }} |
            Email: {{ post.author.email }}

            <br>
            Created: {{ post.date_created }}
            {% if post.date_updated %}
            <br>
            Last updated: {{ post.date_updated }}
            {% endif %}
        </small>

        {% if user.id == post.author.id %}
        <div class="mt-4">
            <a href="{% url 'edit_post' post.slug %}">
                <button type="button" class="btn btn-primary w-25 py-2">
                    Edit
                </button>
            </a>

            <a class="btn btn-danger ms-5 w-25 py-2" data-bs-toggle="modal" data-bs-target="#delete-post-modal"
                href="{% url 'delete_post' post.slug %}" id="delete-post">
                Delete
            </a>
        </div>
        {% endif %}
        <hr>

        <div class="" id="demo"></div>
        <div class="modal fade" id="delete-post-modal">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content ms-5 mx-aut py-3 px4" style=" margin-right: 2em; max-width: 100%;">
                    <form method="POST" class="mx-auto px-3" id="delete-post-form">
                        {% csrf_token %}

                        <p>
                            <strong class="">Are you sure you want to delete '{{ post.title }}'?</strong>
                        </p>

                        <div class="mt-5 d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">
                                <!-- <a class="ms-3" href="{% url 'delete_post' post.slug %}"> -->
                                Confirm
                                <!-- </a> -->
                            </button>


                            <button type="button" class="btn btn-primary ms-5 go-back-btn" data-bs-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="post-body" style="margin-top: 20px;">
            {{ post.formatted_markdown|safe }}
        </div>
        </div>
    </article>

    <div class="cooments mt-5 mx-auto" style="width: 90%" ;">
        <h3>Comments:</h3>
        <h6 class="mb-4">{{ comments.count }} comment{{ comments.all|pluralize }}</h6>

        {% if comments.all %}
        {% for comment in comments.all %}
        <div class="comment-body mb-4">
            <strong>{{ comment.commentator}}</strong>
            <div class="mb-2 mt-1">{{ comment.formatted_markdown|safe }}</div>
            <p><small>{{ comment.timestamp }}</small></p>
            <hr>
        </div>

        {% endfor %}

        {% else %}
        <p>No comment yet. Be the first to add a comment</p>
        {% endif %}
    </div>

    <form action="" method="POST" class="mx-auto comment_form mt-5">
        {% csrf_token %}
        <label for="{{ comment_form.comment_body.id_for_label }}">
            Add comment:
        </label>
        <div class="add-comment mt-3 mb-3">
            {{ comment_form.comment_body }}
        </div>


        <button type="submit" class="btn btn-outline-success" {% if user.is_anonymous %} disabled {% endif %}>
            Post
        </button>

        {% if user.is_anonymous %}
        <span>
            <a href="{% url 'account_login' %}">Log in to comment</a>
        </span>
        {% endif %}
    </form>
    <div class="div" style="width: 20%;">
        {{ form.media }}
    </div>
</section>

{% if all_author_post %}
<div>
    <h4>
        More Posts By
        {{ post.author.first_name }} {{ post.author.last_name }}
    </h4>
    {% for post in all_author_post %}
    <div class="ms-4">
        <a class="ms-4" href="{% url 'article_detail' post.slug%}">
            {{post.title}}
        </a>
    </div {% endfor %} </div>
    {% endif %}


    <br>
    <button class="btn btn-primary m-5 mt-1 go-back-btn" onclick="history.back()">
        Go back
    </button>
</div>




{% endblock content %}