{% extends 'base.html' %}

{% block title %}  {% endblock title %}


{% block content %}

{% if category_posts %}

    <h1>{{ cats.title }} </h1>

        <ul>
            {% for post in category_posts %}
                <li>
                    <h5> <a href="{% url 'article_detail' post.slug %}">{{ post.title}}</a> -
                        <small>
                            <a href="{% url 'category' post.category|slugify %}">{{ post.category }} |</a>
                            {{ post.author.first_name.title }}
                            {{ post.author.last_name.title }}
                        </small>
                    </h5>
                    {{ post.body.title|slice:":100"|safe }}
                </li>
            {% endfor %}
        </ul>
{% else %}
        <h1>No posts in '{{ cats.title }}' category</h1>

{% endif %}





{% endblock content %}
