{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create Blog Post {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <div 
        class="" 
    >

        <h2 class="">Add A New Post</h2>

        <form method="POST" class="w-2/3">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="article-body">{{ article.body.content | safe}}</div>
            <button class="">Submit Post</button>
        </form>
        
        <div class="w-2/3">
        {{ form.media }}
        </div>
    </div>


    {% else %}
    <h2>You do not have  access to this page</h2>

{% endif %}



{% endblock content %}