{% extends 'base.html' %}
{% block title %} Delete Post {% endblock title %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container">
        
        <h1>Delete Blog Post</h1>

        <div class="form-group delete_post">
            <form method="POST">
                {% csrf_token %}
            
                <strong>Are you sure you want to delete the post '{{ post.title }}'?</strong>
                
                <div class="mt-5">
                    <button type="submit" class="btn btn-danger">Confirm </button>

                    <button 
                        type="button"
                        class="btn btn-primary ms-5 go-back-btn" 
                        onclick="history.back()"
                    >
                        Go back
                    </button>
                </div>

            </form>
        </div>
    </div>

    {% else %}
        <h2>You do not have access to this page</h2>
    
    {% endif %}


<!--
            <button class="stop-delete">
                <a href="{% url 'article_detail' post.pk %}" style="cursor: context-menu; text-decoration: none;">Back</a>
            </button>

-->
        

    


{% endblock content %}