{% extends 'base.html' %}


{% block content %}

<main class="">
    <div class="">
        {% for post in post_list %}
        <div class="">
            <div class="">
                <div class="">
                    <h3 class="">
                        {{ post.title}}
                    </h3>
                    <p class="">
                        <strong>Author:</strong>
                        {{ post.author.first_name.title }} {{ post.author.last_name.title }}
                    </p>
                    <p class=''>
                        {{ post.description }}
                    </p>

                    <a href="{% url 'article_detail' post.slug %}" class="">
                        Read
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>



{% endblock content %}