{% extends 'base.html' %}


{% block content %}
    
<main class=" post-list">

        <ul >
            {% for post in post_list %} 
                <li class="mb-5">
                    <h3 class="post-title">
                         <a href="{% url 'article_detail' post.slug %}"
                            class="post-list-title"
                         >
                             {{ post.title}}
                        </a> 
                    </h3>
                    <small>
                        Author: {{ post.author.first_name.title }} {{ post.author.last_name.title }} 
                    </small>
                    <p class='mt-3 description'>{{ post.description }}</p>
                    
                    
                        <!-- {{ post.author.last_name.title }}  -->                  
                </li>
            {% endfor %}
        </ul>
</main>



{% endblock content %}