{% extends 'base.html' %}

{% block title %} Edit Post {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <div class="p-4 mt-1">
        <h2>Update Post</h2>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>

    {% else %}
        <h2>You do not have  access to this page</h2>

    {% endif %}

    
{% endblock content %}