{% extends 'base.html' %}

{% block title %} Edit Post {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <div class="">
        <h2>Update Post</h2>

        <div class="">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="">Update</button>
            </form>

            <div class="">
            <p></p>
            {{ form.media }}
        </div>
        </div>
    </div>

    {% else %}
        <h2>You do not have  access to this page</h2>

    {% endif %}

    
{% endblock content %}