{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'pygments_css/markdownx.css' %}">

  <link rel="stylesheet" href="{% static 'src/output.css' %}">

  <title>{% block title %}techdive-home{% endblock title %}</title>
</head>

<body>

  <nav class="">
    <div class="">
      <a class="" href="{% url 'home' %}">
        TECHDIVE
      </a>

      <button class=" " type="button" >
      </button>
      <div class="" id="">
        <ul class="">
          {% if user.is_staff %}
          <li class="">
            <a class="" href="{% url 'create_post' %}">
              + New Post
            </a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}

          <li class="">
            <a 
            class="" 
            href="{% url 'update_user' user.id %}">
              {{ user.first_name.title }}
            </a>
          </li>
          <li class="">
            <a class="" href="{% url 'account_logout' %}">Logout</a>
          </li>

          {% else %}
          <li class="">
            <a class="" href="{% url 'account_signup' %}">
              Register
            </a>
          </li>

          <li class="">
            <a class="" href="{% url 'account_login' %}" tabindex="-1" aria-disabled="true">
              Login
            </a>
          </li>
          {% endif %}
        </ul>

        <form class="" action="{% url 'posts_search_results' %}">
          <input class="" type="search" placeholder="Search by title" aria-label="Search" name="q">
          <button class="" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>









  {% block content %}


  {% endblock content %}

  <!--<nav class="navbar bottom navbar-light bg-dark">
        <div class="container-fluid">
          FOOTER
        </div>
    </nav>-->


  <script src="../static/js/main.js"></script>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  >
  </script>

  

</body>

</html>