{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Crreate an account {% endblock title %}

{% block content %}

<div class="p-3">
    <h1 class="ms-3">Sign Up</h1>


    <div class="form-group hero is-dark">
        <form method="POST">
            {% csrf_token %}

            <!--{{ for.non_field.erros }}
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}" class="ms-1">:</label>
            {{ form.first_name.label_tag}}
            {{ form.address }}
            {{ form.address.help_text}}-->
    

           {{ form.as_p}}
             
            <button class="btn btn-secondary">Create account</button>
        </form>
    </div>
</div>

{% endblock content %}